Host luban
HostName 10.10.106.61
User root

Host vpn
HostName 216.127.186.107
User root

Host home_deepin
HostName frp-any.top
Port 61111
User zheng

Host mac
HostName 104.194.225.119
User zheng
Port 1100

Host lq
  HostName frp-bus.top
  User zheng
  Port 33222

Host lq_home
HostName 192.168.1.104
User zheng
Port 22

Host mac_air
HostName 192.168.188.122
User zhouzheng
Port 22

Host lq_home
HostName frp-box.top
User zheng
Port 33322
