Host vpn
HostName 142.171.138.218
User root

Host home_deepin
HostName frp-any.top
Port 61111
User zheng

Host mac
HostName 104.194.225.119
User zheng
Port 1100

Host lq
HostName frp-bus.top
User zheng
Port 33222

Host lq_home
HostName 192.168.1.104
User zheng
Port 22

Host mac_air
HostName 192.168.188.122
User zhouzheng
Port 22

Host lq_home
HostName frp-box.top
User zheng
Port 33322

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_rsa
  Port 22
  ProxyCommand /usr/bin/nc -x 127.0.0.1:7890 github.com 22
